<div class="user-view">
  <div class="row justify-content-center">
      <div class="col-sm-12">
          <mdb-card class="testimonial-card user-card mx-auto">
                  <div class="card-up indigo lighten-1">
                      <!--Avatar-->
                      <div class="avatar mx-auto text-center">
                          <img src="../../../assets/tool-icon.png" class="profile-image rounded-circle">
                      </div>
                      <!--Title: Username-->
                      <mdb-card-title class="text-center username-title">
                          <h4>Configuración General</h4>
                      </mdb-card-title>
                  </div>
                  <mdb-card-body class="card-body">
                        <form [formGroup]="validatingForm" class="card-form">
                            <div class="container">
                                <mat-card class="recovery-mail-card">Correo recuperacion cuentas
                                <div class="row"> <!--Recovery mail data -->
                                    <div class="md-form form-sm col-sm-7">
                                        <mat-form-field class="full-width-form-field" >
                                            <input matInput type="email" formControlName="recoveryMail" placeholder="Correo electrónico:" required>
                                            <mat-error *ngFor="let validation of validation_messages.recoveryMail">
                                                <mat-error *ngIf="validatingForm.get('recoveryMail').hasError(validation.type) && (validatingForm.get('recoveryMail').dirty || validatingForm.get('recoveryMail').touched)">
                                                    {{validation.message}}
                                                </mat-error>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="md-form form-sm col-sm-5">
                                        <mat-form-field class="full-width-form-field" >
                                            <input matInput type="password" formControlName="recoveryMailPassword" placeholder="Password correo:" required>
                                            <mat-error *ngFor="let validation of validation_messages.recoveryMailPassword">
                                                <mat-error *ngIf="validatingForm.get('recoveryMailPassword').hasError(validation.type) && (validatingForm.get('recoveryMailPassword').dirty || validatingForm.get('recoveryMailPassword').touched)">
                                                    {{validation.message}}
                                                </mat-error>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                </mat-card>
                            </div>
                        </form>
                  </mdb-card-body>
                  <div class="card-footer">
                    <button class="btn btn-sm btn-outline-danger" (click)="onClickRefresh()">
                        <i class="fa fa-refresh ml-1"> Refrescar</i>
                    </button>
                    <button class="btn btn-sm btn-outline-dark-green" type="submit" (click)="onClickSave()" [disabled]="validatingForm.invalid">
                        <i class="fa fa-save ml-1"> Grabar</i>
                    </button>
                  </div>
          </mdb-card>
      </div>
  </div>
</div>


